.skill-container {
  min-height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.skill-card {
  width: 80%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skill-heading {
  text-align: center;
  color: #0f172a;
  margin-bottom: 30px;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill-box {
  background-color: #e2e8f0;
  color: #0f172a;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.skill-box:hover {
  transform: translateY(-3px);
}

.skill-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.skill-btn {
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  background-color:darkblue;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.skill-btn:hover {
  background-color: darkblue;
}